<html>
  <head>
    <script>
      localStorage.setItem('token', '-1');
      localStorage.setItem('userId', '-1');
      window.location.replace('/login');
    </script>
  </head>
  <body></body>
</html>
